# Виртуальное окружение (самое важное, его не пушим!)
.venv/
venv/
ENV/
env/

# Временные файлы Python (компилированный код)
__pycache__/
*.py[cod]
*$py.class

# Настройки среды разработки (IDE)
.vscode/
.idea/
*.swp

# Секретные данные (пароли, ключи API)
.env
*.log

# Файлы операционной системы
.DS_Store
Thumbs.db